
@* retweetPage Template File *@
@(form : Form[CreateTweet],reTweet: Option[Tweet])(implicit messagesProvider: MessagesProvider)
@main("Retweet"){
	@if(form.hasGlobalErrors){
		<p>Could not retweet.</p>
	}else{
	@if(reTweet.isEmpty){
       @helper.form(action= routes.HomeController.tweetPost2) {
       @helper.inputText(form("content"))
       <button type="submit">tweet</button>
        }
    }else{
	@helper.form(action= routes.HomeController.tweetPost(String.valueOf(reTweet.get.tweetID))) {
       @helper.inputText(form("content"))
       <button type="submit">tweet</button>
        }
        	<h5> Retweeting: </h5>
       		@tweetViewer(reTweet.get)
   }
	
	}
        
        
}{

}

