@* signup Template File *@
@(form:Form[(String,String)])(implicit flash:Flash, messagesProvider: MessagesProvider)

@main("Twitter"){
<h1> signup </h1>
@if(form.hasGlobalErrors){
	<p>Could not create an account with the given data.</p>
}
@helper.form(action= routes.SessionController.addUser) {
       @helper.inputText(form("email"))
       @helper.inputPassword(form("password"))
       <button type="submit">signup</button>
        }
}{
<a class="btn btn-primary" href="@routes.HomeController.index">Back</a>
}